[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KSaoLaJi/Cleaner
X-KDE-Derived=KPluginInfo
Comment=KSaoLaJi Cleaner
Comment[es]=Limpiador KSaoLaJi
Comment[et]=KSaoLaJi puhastaja
Comment[nds]=Reenmaker KSaoLaJ
Comment[nl]=KSaoLaJi opruimer
Comment[pt]=Limpeza do KSaoLaJi
Comment[sv]=Ksaolaji rensning
Comment[uk]=Очищувач KSaoLaJi
Comment[x-test]=xxKSaoLaJi Cleanerxx

