[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KSaoLaJi/Cleaner
X-KDE-Derived=KPluginInfo
Comment=KSaoLaJi Cleaner
Comment[bs]=KSaoLaJi čistač
Comment[de]=KSaoLaJi-Aufräumprogramm
Comment[es]=Limpiador KSaoLaJi
Comment[et]=KSaoLaJi puhastaja
Comment[fr]=Nettoyeur « KSaoLaJi »
Comment[ga]=Glantóir KSaoLaJi
Comment[gl]=Limpador de KSaoLaJi.
Comment[hu]=KSaoLaJi tisztító
Comment[km]=កម្មវិធី​សម្អាត KSaoLaJi
Comment[ko]=KSaoLaJi 청소기
Comment[mr]=के-साओ-लांजी सफाई करणारा
Comment[nds]=Reenmaker KSaoLaJ
Comment[nl]=KSaoLaJi opruimer
Comment[pl]=Czyściciel KSaoLaJi
Comment[pt]=Limpeza do KSaoLaJi
Comment[pt_BR]=Limpeza do KSaoLaJi
Comment[sk]=Čistič KSaoLaJi
Comment[sv]=Ksaolaji rensning
Comment[tr]=KSaoLaJi Temizleyici
Comment[ug]=KSaoLaJi تازىلىغۇچ
Comment[uk]=Очищувач KSaoLaJi
Comment[x-test]=xxKSaoLaJi Cleanerxx
Comment[zh_CN]=KSaoLaJi 清理器

