[Desktop Entry]
Name=KSaoLaJi
Name[es]=KSaoLaJi
Name[et]=KSaoLaJi
Name[nl]=KSaoLaJi
Name[pt]=KSaoLaJi
Name[pt_BR]=KSaoLaJi
Name[sv]=Ksaolaji
Name[uk]=KSaoLaJi
Name[x-test]=xxKSaoLaJixx
GenericName=System Cleaner
GenericName[cs]=Vyčištění systému
GenericName[es]=Limpiador del sistema
GenericName[et]=Süsteemi puhastaja
GenericName[nds]=Systeemreenmaken
GenericName[nl]=Systeemopruiming
GenericName[pt]=Limpeza do Sistema
GenericName[pt_BR]=Limpeza do sistema
GenericName[sv]=Systemrensning
GenericName[uk]=Очищення системи
GenericName[x-test]=xxSystem Cleanerxx
Exec=ksaolaji
Type=Application
Icon=applications-accessories
Categories=Qt;KDE;Utility;
