[Desktop Entry]
Name=KSaoLaJi
GenericName=System Cleaner
GenericName[cs]=Vyčištění systému
GenericName[nds]=Systeemreenmaken
GenericName[nl]=Systeemopruiming
GenericName[pt]=Limpeza do Sistema
GenericName[sv]=Systemrensning
GenericName[uk]=Очищення системи
GenericName[x-test]=xxSystem Cleanerxx
Exec=ksaolaji
Type=Application
Icon=applications-accessories
Categories=Qt;KDE;Utility;
