[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KSaoLaJi/Cleaner
X-KDE-Derived=KPluginInfo
Comment=KSaoLaJi Cleaner
Comment[es]=Limpiador KSaoLaJi
Comment[et]=KSaoLaJi puhastaja
Comment[fr]=Nettoyeur KSaoLaJi
Comment[km]=កម្មវិធី​សម្អាត KSaoLaJi
Comment[nds]=Reenmaker KSaoLaJ
Comment[nl]=KSaoLaJi opruimer
Comment[pl]=Czyściciel KSaoLaJi
Comment[pt]=Limpeza do KSaoLaJi
Comment[pt_BR]=Limpeza do KSaoLaJi
Comment[sv]=Ksaolaji rensning
Comment[uk]=Очищувач KSaoLaJi
Comment[x-test]=xxKSaoLaJi Cleanerxx
Comment[zh_CN]=KSaoLaJi 清理器

