[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=konqueror
ServiceTypes=KSaoLaJi/Cleaner
X-KDE-Library=ksaolaji_cleaner_dummy
X-KDE-PluginInfo-Author=Ni Hui
X-KDE-PluginInfo-Email=shuizhuyuanluo@126.com
X-KDE-PluginInfo-Name=ksaolaji_cleaner_dummy
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://shuizhuyuanluo.blog.163.com
X-KDE-PluginInfo-Category=Cleaner
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KSaoLaJi Dummy Cleaner
Name[de]=KSaoLaJi-Dummy-Aufräumprogramm
Name[es]=KSaoLaJi Dummy Cleaner
Name[et]=KSaoLaJi fiktiivne puhastaja
Name[fr]=Nettoyeur de test « KSaoLaJi »
Name[ga]=Bréag-ghlantóir KSaoLaJi
Name[hu]=KSaoLaJi üres tisztító
Name[km]=កម្មវិធី​សម្អាត KSaoLaJi
Name[ko]=KSaoLaJi 더미 청소기
Name[mr]=के-साओ-लांजी डमी सफाई करणारा
Name[nl]=KSaoLaJi dummy opruimer
Name[pl]=Fikcyjny czyściciel KSaoLaJi
Name[pt]=Limpeza de Testes do KSaoLaJi
Name[pt_BR]=Limpeza de testes do KSaoLaJi
Name[sk]=Prázdny čistič KSaoLaJi
Name[sv]=Ksaolaji testrensning
Name[tr]=KSaoLaJi Gereksiz Temizleyici
Name[uk]=Очищувач KSaoLaJi
Name[x-test]=xxKSaoLaJi Dummy Cleanerxx
Name[zh_CN]=KSaoLaJi 空清理器
Comment=KSaoLaJi dummy cleaner
Comment[de]=KSaoLaJi-Dummy-Aufräumprogramm
Comment[es]=KSaoLaJi dummy cleaner
Comment[et]=KSaoLaJi fiktiivne puhastaja
Comment[fr]=Nettoyeur test « KSaoLaJi »
Comment[ga]=Bréag-ghlantóir KSaoLaJi
Comment[hu]=KSaoLaJi üres tisztító
Comment[km]=កម្មវិធី​សម្អាត KSaoLaJi
Comment[ko]=KSaoLaJi 더미 청소기
Comment[mr]=के-साओ-लांजी डमी सफाई करणारा
Comment[nl]=KSaoLaJi dummy opruimer
Comment[pl]=Fikcyjny czyściciel KSaoLaJi
Comment[pt]=Limpeza de testes do KSaoLaJi
Comment[pt_BR]=Limpeza de testes do KSaoLaJi
Comment[sk]=Prázdny čistič KSaoLaJi
Comment[sv]=Ksaolaji testrensning
Comment[tr]=KSaoLaJi gereksiz temizleyici
Comment[uk]=Очищувач KSaoLaJi
Comment[x-test]=xxKSaoLaJi dummy cleanerxx
Comment[zh_CN]=KSaoLaJi 空清理器
